@charset "UTF-8";
/* @IMPORT url("normalize.css"); */
@IMPORT url("reset.css");
@IMPORT url("style.css");
@IMPORT url("header.css");
@IMPORT url("footer.css");

.content-container {	
	margin-left: auto;
	margin-right: auto;
    width: 960px;
	height: inherit;
    position:relative;
}

#body{
	min-height: 300px;
	border-top:5px solid #8977ad;
	margin-top:1px;	
}


#body.content-container{   
	display: flex;
}

#aside {
    /*-ms-grid-row:1;
    -ms-grid-column:1;*/
    width: 205px;
	
    height: inherit;    
	/*float: left;*/
}

#main {
    /*-ms-grid-row:1;
    -ms-grid-column:2;*/
    width: 755px;

    position: relative;
	height: inherit;	
	/*float: left;*/    
}
#newBtn {
	margin-left: 620px;
	margin-top:20px;
	border:0;
	height:50px;
	background: url("../../images/btn-write.png") no-repeat center;
	outline:0;
}
#modifyBtn
{
	border:0;
	width: 60px;
	height:30px;
	outline:0px;
	background: url("../../images/btn-edit.png") no-repeat center;
}
#deleteBtn
{border:0;
	 width: 60px;
	height:30px;
	outline:0px;
	background: url("../../images/btn-del.png") no-repeat center;
}
#modifydeltediv
{
	float:left;
	width:160px;
	margin-left:600px;
	
}
#reply_modifydeltediv
{
	float:left;
	width:100px;
	margin-left:650px;
}
#replymodifyBtn
{
	border:0;
	width: 60px;
	height:30px;
	outline:0px;
	
	background: url("../../images/btn-edit.png") no-repeat center;
}
#replydeleteBtn
{border:0;
	 width: 60px;
	height:30px;
	outline:0px;
	background: url("../../images/btn-del.png") no-repeat center;
}


.btn-answer {
    border: 0;
    width: 70px;
    height: 40px;
    outline: 0px;
    background: url(../../images/btn-answer.png) no-repeat center;
}


.btn-update {
    border: 0;
    width: 80px;
    height: 50px;
    outline: 0px;
    background: url(../../images/btn-answer.png) no-repeat center;
    margin-left:400px;
}

#updatediv{
	width:100px;
	padding-left:300px;
}



