<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="communityNS">

	<insert id="register" useGeneratedKeys="true"
		keyProperty="community_num">
		<!-- 게시글 등록 -->
		<selectKey keyProperty="community_num" resultType="int"
			order="BEFORE">
			SELECT seq_COMMUNITY.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO community(community_num, title, content, writer_id)
		VALUES(#{community_num}, #{title}, #{content}, #{writer_id})
	</insert>


	<insert id="insertFile" parameterType="hashMap">	<!-- 파일 삽입 -->
		INSERT INTO community_file(
		FILE_NO,
		community_num,
		ORG_FILE_NAME,
		STORED_FILE_NAME,
		FILE_SIZE
		)VALUES(
		SEQ_community_FILE.NEXTVAL,
		#{community_num},
		#{ORG_FILE_NAME},
		#{STORED_FILE_NAME},
		#{FILE_SIZE}
		)
	</insert>
	<!-- 첨부파일 조회 -->

	<select id="selectFileList" parameterType="int"
		resultType="hashMap">
		SELECT FILE_NO,
		ORG_FILE_NAME,
		ROUND(FILE_SIZE/1024,1) AS
		FILE_SIZE
		FROM community_file
		WHERE community_num = #{community_num}
		order by file_no asc
	</select>

	<!-- 첨부파일 다운 -->
	<select id="selectFileInfo" parameterType="hashMap"
		resultType="hashMap">
		SELECT
		STORED_FILE_NAME,
		ORG_FILE_NAME
		FROM community_file
		WHERE FILE_NO = #{FILE_NO}
	</select>

	<select id="listSearch" resultType="Community"> <!-- 불러오기 -->
		  <![CDATA[
		select * FROM (
		SELECT community_num,
		title,
		content,
		writer_id,
		regdate,
		viewcount,
		replycount,
		ROW_NUMBER() OVER(ORDER BY community_num DESC) AS
		RNUM
		FROM
		community
		WHERE community_num > 0
    ]]>

		<include refid="search" />

		) MP
		WHERE RNUM BETWEEN ${pageStart} AND ${endPage}

	</select>
	<select id="list" resultType="Community"> <!-- 메인 홈페이지 -->
			  <![CDATA[
		select * FROM (
		SELECT community_num,
		title,
		regdate,
		ROW_NUMBER() OVER(ORDER BY community_num DESC) AS
		RNUM
		FROM
		community
		WHERE community_num > 0
    ]]>
		) MP
		WHERE RNUM BETWEEN 1 AND 5
	</select>


	<select id="countSearched" resultType="int">	<!-- 검색 결과 수 -->
    <![CDATA[
    SELECT
        COUNT(community_num)
    FROM community
    WHERE community_num > 0
    ]]>
		<include refid="search" />
	</select>

	<sql id="search">	<!-- 검색 조건 -->
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND title LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				AND content LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				AND writer_id LIKE '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>

	<select id="listCount" resultType="int"><!-- 게시물 개수 구하기 -->
		<![CDATA[
		SELECT COUNT(community_num)
		  FROM community
		 WHERE community_num > 0
	]]>
	</select>
	<select id="detail" resultType="Community"><!-- 상세보기 -->
		select * from
		community where community_num=#{community_num}
	</select>

	<delete id="delete"> <!-- 삭제 -->
		delete from community where community_num=#{community_num}

	</delete>

	<update id="modify">
		update community set title=
		#{title},content=#{content} where
		community_num=#{community_num}
	</update> <!-- 게시글 수정 -->
	<update id="updateViewCount">
		update community set viewcount = viewcount+1 where
		community_num=#{community_num}
	</update> <!-- 조회수 증가 -->

<!-- 파일 삭제 업데이트 -->
	<delete id="deleteFile" parameterType="hashMap">
		delete from community_file 
		WHERE FILE_NO = #{FILE_NO}
	</delete>
	
<!-- 게시글 파일 모두 삭제 업데이트 -->
	<delete id="deleteFileAll" parameterType="hashMap">
		delete from community_file where
		community_num=#{community_num}
	</delete>
	
	<update id="updateReplyCount">
		update community set
			replycount = replycount + #{updown}
		where
		community_num=#{community_num}
	</update> <!-- 댓글 수 업데이트 -->
	
	<select id="searchDeleteFile" resultType="String"> 	<!-- 지울 파일의 저장 이름 -->
		SELECT STORED_FILE_NAME
		FROM community_file
		WHERE FILE_NO = #{FILE_NO}
	</select>
	
	<select id="searchDeleteFileAll" resultType="String"> <!-- 게시글 삭제 시 모든 첨부파일 저장 이름 -->
		SELECT STORED_FILE_NAME
		FROM community_file
		WHERE community_num = #{community_num}

	</select>

</mapper>