<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="memberNS">

	<select id="login" resultType="Member">	<!-- 로그인 sql -->
		select *
		from member
		where
		member_id=#{member_id}
		and password=#{password}
	</select>

	<select id="idcheck" resultType="int">	<!-- 로그인 아이디 체크 -->
		select count(*)
		from member
		where
		member_id=#{member_id}
	</select>
	
	<select id="findPwd" parameterType="Member" resultType="String">	<!-- 비밀번호 찾기 -->
		select password
		from member
		where
		member_id=#{member_id}
		and phone=#{phone}
		and email=#{email}
		
	</select>
	
		<select id="findId" parameterType="Member" resultType="String">	<!-- 아이디 찾기 -->
		select member_id
		from member
		where
		member_name=#{member_name}
		<if test="email == ''">
		and phone=#{phone}
		</if>
		<if test="phone == ''">
		and email=#{email}
		</if>
		
	</select>

	<insert id="join">						<!-- 회원가입 -->
		INSERT INTO member(member_id
		, password
		, member_name
		,email
		,birth
		,phone
		)
		VALUES( #{member_id}
		, #{password}
		, #{member_name}
		, #{email}
		, #{birth}
		, #{phone}
		)

	</insert>
	<update id="updateMember">	<!-- 개인정보 수정 -->
		update member set 
		member_name=
		#{member_name},
		email=#{email},
		phone=#{phone},
		birth=#{birth}
		where
		member_id=#{member_id}
	</update>
	<update id="updatepwd"><!-- 비밀번호 변경 -->
		update member set 
		password=#{password}
		where
		member_id=#{member_id}
	</update>
	<delete id="deleteMember"> <!-- 회원탈퇴 -->
		delete from member where member_id=#{member_id}
	</delete>

</mapper>