<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="noticeNS">

	<!-- 게시글 등록 -->
	<insert id="register" useGeneratedKeys="true"
		keyProperty="notice_num">

		<selectKey keyProperty="notice_num" resultType="int"
			order="BEFORE">
			SELECT notice_seq.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO notice(notice_num, title, content)
		VALUES(#{notice_num},
		#{title}, #{content})
	</insert>

	<insert id="insertFile" parameterType="hashMap">	<!-- 파일 삽입 -->
		INSERT INTO notice_file(
		FILE_NO,
		notice_num,
		ORG_FILE_NAME,
		STORED_FILE_NAME,
		FILE_SIZE
		)VALUES(
		notice_file_seq.NEXTVAL,
		#{notice_num},
		#{ORG_FILE_NAME},
		#{STORED_FILE_NAME},
		#{FILE_SIZE}
		)
	</insert>
	<!-- 첨부파일 조회 -->
	<select id="selectFileList" parameterType="int"
		resultType="hashMap">
		SELECT FILE_NO,
		ORG_FILE_NAME,
		ROUND(FILE_SIZE/1024,1) AS
		FILE_SIZE
		FROM notice_file
		WHERE notice_num = #{notice_num}
		order by
		file_no asc
	</select>

	<!-- 첨부파일 다운 -->
	<select id="selectFileInfo" parameterType="hashMap"
		resultType="hashMap">
		SELECT
		STORED_FILE_NAME,
		ORG_FILE_NAME
		FROM notice_file
		WHERE
		FILE_NO = #{FILE_NO}
	</select>

	<select id="listSearch" resultType="Notice"> <!-- 불러오기 -->
		  <![CDATA[
		select * FROM (
		SELECT notice_num,
		title,
		content,
		regdate,
		viewcount,
		ROW_NUMBER() OVER(ORDER BY notice_num DESC) AS
		RNUM
		FROM
		notice
		WHERE notice_num > 0
    ]]>

		<include refid="search" />

		) MP
		WHERE RNUM BETWEEN ${pageStart} AND ${endPage}

	</select>
	<select id="list" resultType="Notice"> <!-- 메인 홈페이지 -->
			  <![CDATA[
		select * FROM (
		SELECT notice_num,
		title,
		regdate,
		ROW_NUMBER() OVER(ORDER BY notice_num DESC) AS
		RNUM
		FROM
		notice
		WHERE notice_num > 0
    ]]>
		) MP
		WHERE RNUM BETWEEN 1 AND 5
	</select>


	<select id="countSearched" resultType="int">	<!-- 검색 결과 수 -->
    <![CDATA[
    SELECT
        COUNT(notice_num)
    FROM notice
    WHERE notice_num > 0
    ]]>
		<include refid="search" />
	</select>

	<sql id="search">	<!-- 검색 조건 -->
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND title LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				AND content LIKE '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>

	<select id="listCount" resultType="int"><!-- 게시물 개수 구하기 -->
		<![CDATA[
		SELECT COUNT(notice_num)
		  FROM notice
		 WHERE notice_num > 0
	]]>
	</select>
	<select id="detail" resultType="Notice"><!-- 상세보기 -->
		select * from
		notice where notice_num=#{notice_num}
	</select>

	<delete id="delete"> <!-- 삭제 -->
		delete from notice where notice_num=#{notice_num}

	</delete>

	<update id="modify"> <!-- 게시글 수정 -->
		update notice set title=
		#{title},content=#{content}
		where
		notice_num=#{notice_num}
	</update>
 
	<update id="updateViewCount">  <!-- 조회수 증가 감소 -->
		update notice set viewcount = viewcount+1 where
		notice_num=#{notice_num}
	</update>

	<!-- 파일 삭제 업데이트 -->
	<delete id="deleteFile" parameterType="hashMap">
		delete from notice_file
		WHERE FILE_NO = #{FILE_NO}
	</delete>

	<!-- 게시글 파일 모두 삭제 업데이트 -->
	<delete id="deleteFileAll" parameterType="hashMap">
		delete from notice_file
		where
		notice_num=#{notice_num}
	</delete>

	<select id="searchDeleteFile" resultType="String"> 	<!-- 지울 파일의 저장 이름 -->
		SELECT STORED_FILE_NAME
		FROM notice_file
		WHERE FILE_NO = #{FILE_NO}
	</select>

	<select id="searchDeleteFileAll" resultType="String"> <!-- 게시글 삭제 시 모든 첨부파일 저장 이름 -->
		SELECT STORED_FILE_NAME
		FROM notice_file
		WHERE notice_num =
		#{notice_num}

	</select>

</mapper>