@import url("../reset.css");
@import url("../style.css");
@import url("../header.css");
@import url("../footer.css");
@import url("../member-main.css");
@import url("../member-visual.css");

 #body > .content-container {
    position: relative;
    padding-bottom: 30px;
    overflow: auto;
    zoom: 1;
} 

#btn-next{
	background-image: url('../../images/btn-next.png');
    background-repeat: no-repeat;
    width: 20px;
    margin-left:10px;
    height: 20px;}
#btn-prev{
	background-image: url('../../images/btn-prev.png');
    background-repeat: no-repeat;
    width: 20px;
     margin-right:10px;
    height: 20px;;}